[Desktop Entry]
Name=Duplicate USB-Stick
Comment=Dupliziere dieses Betriebsystem auf andere USB-Sticks
Exec=/opt/duplicate-usb-stick-starter.sh
Icon=/opt/icons/CopyOSToUSB.png
Terminal=true
Type=Application
Categories=Application;System;
